<div class="bg-gradient-to-b from-deepForest-800 to-neon lg:px-[250px] text-white leading-[50px]">
        <h1 class="text-3xl font-medium text-center md:text-left pt-10">Our Gaming Shop - Support</h1>
        <ul class="flex justify-center my-[20px]">
          <li class="mr-4">
            <a href="#faq" class="text-lg font-medium text-neon hover:text-[#b91c1c]">FAQ</a>
          </li>
          <li class="mr-4">
            <a href="#contact" class="text-lg font-medium text-neon hover:text-[#b91c1c]">Contact Us</a>
          </li>
          <li class="mr-4">
            <a href="#returns" class="text-lg font-medium text-neon hover:text-[#b91c1c]">Returns</a>
          </li>
          <li>
            <a href="#warranty" class="text-lg font-medium text-neon hover:text-[#b91c1c]">Warranty</a>
          </li>
        </ul>
        <div id="faq" class="pb-4">
          <h2 class="text-3xl font-medium text-[#60a5fa]  text-center md:text-left  ">Frequently Asked Questions</h2>
          <p class="mb-4 text-[20px] text-center md:text-left">Here you can find answers to common questions about our products and services.</p>
        <div id="contact" class="mb-4">
          <h2 class="text-3xl font-medium text-[#60a5fa] text-center md:text-left">Contact Us</h2>
          <p class="mb-4 text-[20px] text-center md:text-left" >If you have any questions or concerns, please don't hesitate to contact us.</p>
          <ul class="list-disc text-[17px] ml-16">
            <li >Email: support@ourgamingshop.com</li>
            <li>Phone: 555-555-5555</li>
            <li>Live Chat: Available Mon-Fri 9am-5pm EST</li>
          </ul>
        </div>
        <div id="returns" class="mb-4">
          <h2 class="text-3xl font-medium text-[#60a5fa] text-center md:text-left">Returns</h2>
          <p class="mb-4 text-[20px] text-center md:text-left">Learn more about our return policy and how to process a return.</p>
        </div>
        <div id="warranty">
          <h2 class="text-3xl font-medium text-[#60a5fa] text-center md:text-left">Warranty</h2>
          <p class="b-4 text-[20px] text-center md:text-left">Learn more about the warranty on our products.</p>
        </div>
      </div>
</div>
       
        

