<!-- navbar -->
<div class="flex justify-center items-center bg-deepForest-900  h-[100px] text-white font-medium p-11">
    <div class="flex-1">
        <img class="w-[40px]  inline-block invert" src="../assets/signature-solid.svg" alt="LOGO">
        <p class="inline-block">Gear Drop</p>
    </div>
    <div class="flex-1">Products</div>
    <div class="flex-1">About</div>
    <div class="flex-1">Register</div>
    <div class="flex-1">Login</div>
    <div class="flex-1 relative">
        <input class="w-9 border-2 mx-auto block border-black px-[50%] rounded-full pt-1"  type="text">
        <img class="w-[20px] absolute top-[5px] right-[5px]" src="../assets/magnifying-glass-solid.svg" alt="">
    </div>
    <div class="flex-1">
        <img class="w-[30px] mx-auto block invert" src="../assets/cart-shopping-solid.svg" alt="cart">
    </div>
</div>
<!-- navbarEnd -->

<app-home></app-home>

<!-- footer
    <h1>Footer</h1>
footerEnd -->
