<!-- navbar -->
<header>
    <!-- lg+ -->
    <div class="bg-deepForest-800 border-b  border-white borderGlow">
        <div class="px-4 mx-auto sm:px-6 lg:px-8">
            <nav class="relative flex items-center justify-between h-16 lg:h-20">
                <div class="hidden lg:flex lg:items-center lg:space-x-10">
                <!-- <li class="nav-item"> -->

                    <a title="Products" class="nav-link text-base font-medium text-white" routerLink="/products"> Products </a>  
                
                
                    <a  title="About" class="nav link text-base font-medium text-white" routerLink="/about"> About </a>
                
                    <a title="Support" class="text-base font-medium text-white" routerLink="/support"> Support </a>

                    <!-- <a href="#" title="" class="text-base font-medium text-white"> Pricing </a> -->
                </div>

                <div class="lg:absolute lg:-translate-x-1/2 lg:inset-y-5 lg:left-1/2">
                    <div class="flex-shrink-0">
                        <a routerLink="/" class="flex">
                            <img (click)="onClickToggle()" class="w-auto h-[65px]" src="../assets/img/Logo.png" alt="" />
                        </a>
                    </div>
                </div>

                <button  type="button" class="flex items-center justify-center ml-auto invert text-white bg-black rounded-full w-9 h-9 lg:hidden" routerLink="/cart">
                    <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
                    </svg>
                </button>
                <!-- hamburger button -->
                <button (click)="onClickToggle()" type="button" class="inline-flex p-2 ml-5 text-black transition-all invert duration-200 rounded-md lg:hidden focus:bg-gray-100 hover:bg-gray-100">
                    <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
                    </svg>
                </button>

                <div  class="hidden lg:flex lg:items-center lg:space-x-10">
                    <a href="#"  title="" class="text-base font-medium text-white" routerLink="signup"> Register </a>

                    <a href="#" title="" class="text-base font-medium text-white" routerLink="signin"> Login </a>

                    <a href="#" title="" class="flex items-center justify-center w-10 h-10 text-black bg-white rounded-full" routerLink="cart">
                        <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
                        </svg>
                    </a>
                </div>
            </nav>
        </div>
    </div>

    <!-- xs to lg -->
    <nav *ngIf="navVisible" class="py-4 bg-deepForest-800 lg:hidden">
        <div class="px-4 mx-auto sm:px-6 lg:px-8">
            <div class="flex items-center justify-between ">
                <p class="text-sm font-semibold tracking-widest text-white uppercase pb-2 border-b  border-neon borderGlow">Menu</p>

                <!-- <button type="button" class="inline-flex p-2 text-white transition-all duration-200 rounded-md focus:bg-gray-100 hover:bg-gray-100 ">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6  " fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                </button> -->
            </div>

            <div class="mt-6">
                <div class="flex flex-col space-y-2">
                    <a (click)="onClickToggle()" class="py-2 text-base font-medium text-white transition-all duration-200 focus:text-blue-600" routerLink="/products"> Products </a>

                    <a (click)="onClickToggle()" class="py-2 text-base font-medium text-white transition-all duration-200 focus:text-blue-600" routerLink="/about"> About </a>

                    <a (click)="onClickToggle()" class="py-2 text-base font-medium text-white transition-all duration-200 focus:text-blue-600" routerLink="/support"> Support </a>

                    <!-- <a href="#" title="" class="py-2 text-base font-medium text-white transition-all duration-200 focus:text-blue-600"> Pricing </a> -->
                </div>

                <hr class="my-4 border-white" />

                <div class="flex flex-col space-y-2">
                    <a  (click)="onClickToggle()" title="" class="py-2 text-base font-medium text-white transition-all duration-200 focus:text-blue-600 " routerLink="/signup"> Register </a>

                    <a (click)="onClickToggle()" title="" class="py-2 text-base font-medium text-white transition-all duration-200 focus:text-blue-600"  routerLink="/signin"> Login </a>
                </div>
            </div>
        </div>
    </nav>
</header>
<router-outlet></router-outlet>

