<div class="bg-deepForest-800 text-white py-4 px-8">
  <h1 class="text-3xl font-semibold">Cart Page</h1>
</div>

<div class="py-8 px-4 md:px-2 bg-gradient-to-b from-deepForest-800 to-black flex justify-center">
  <table class="w-3/6 text-left table-fixed">
    <thead class="bg-[#65a30d] text-white px-20 text-center">
      <tr>
        <th class="py-4">Product Image</th>
        <th class="py-4">Product Name</th>
        <th class="py-4">Quantity</th>
        <th class="py-4">Price</th>
        <th class="py-4">Remove</th>
      </tr>
    </thead>

    <tbody class=" text-center">
      <tr *ngFor="let product of products">
        <td class="py-4"><img class="object-scale-down h-48 w-96" src="{{product.image}}" alt="{{product.name}}"></td>
            <td class="py-4 text-xl text-white">{{product.Productname}}</td>
            <td class="py-4 flex items-center justify-center mt-16">
              <button class="bg-[#65a30d] text-white p-2 rounded-full mr-2 text-white" (click)="addToCart(product.product_id)">+</button>
              <p class="text-white">{{product.quantity}}</p>
            </td>
            <td class="py-4 text-white"><p>{{product.price}}</p></td>
            <td>
              <button (click)="remove(product.id)">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-x invert" viewBox="0 0 16 16"> <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/> </svg>
              </button>
            </td>
            <div class="bg-[#65a30d] py-4 px-8 text-white fixed bottom-0 left-0 right-0 flex justify-between items-center">
              <h2 class="text-lg font-semibold">Total: <span class="font-normal">{{getTotalPrice()}}</span></h2>
              <button class="bg-white text-blue-500 rounded-sm px-4 py-2 font-semibold">Checkout</button>
            </div>

      </tr>
    </tbody>
  </table>
</div>



