<div class="bg-deepForest-800 text-white py-4 px-8">
  <h1 class="text-3xl font-semibold">Cart Page</h1>
</div>

<div class="py-8 px-4 md:px-2 bg-gradient-to-b from-deepForest-800 to-black">
  <table class="w-full text-left table-fixed">
    <thead class="bg-[#65a30d] text-white">
      <tr>
        <th class="py-4">Product Image</th>
        <th class="py-4">Product Name</th>
        <th class="py-4">Quantity</th>
        <th class="py-4">Price</th>
        <th class="py-4">Remove</th>
      </tr>
    </thead>
    <div *ngFor="let product of products">
    <tbody>
      <tr>
        <td class="py-4"><img class="object-scale-down h-48 w-96" src="{{product.image}}" alt="{{product.name}}"></td>
        
          <div class="w-10 h-10">
            <td class="py-4 text-base text-white">{{product.Productname}}</td>
            <td class="py-4 flex items-center">
              <button class="bg-[#65a30d] text-white p-2 rounded-full mr-2 text-white">+</button>
              <p class="text-white">{{product.quantity}}</p>
            </td>
            <td class="py-4 text-white">{{product.price}}</td>
            <td class="py-4"><button class="text-red-500"><svg class="fill-current w-4 h-4" viewBox="0 0 20 20"><path d="M14.142 5.757a1 1 0 01.083 1.32l-.083.094-3.5 3.5a1 1 0 01-1.32.083l-.094-.083-3.5-3.5a1 1 0 111.414-1.414L9 7.086l3.142-3.143a1 1 0 011.32-.083z"/></svg></button></td>
        </div>
      </tr>
    </tbody>
  </div>
  </table>
</div>


<div class="bg-[#65a30d] py-4 px-8 text-white fixed bottom-0 left-0 right-0 flex justify-between items-center">
  <h2 class="text-lg font-semibold">Total: <span class="font-normal">$79.95</span></h2>
  <button class="bg-white text-blue-500 rounded-sm px-4 py-2 font-semibold">Checkout</button>
</div>
