<form [formGroup]="signupForm" (ngSubmit)="signUp()">
  <div class="bg-gradient-to-b from-deepForest-800 to-neon">
      <h2 class=" text-center text-white font-bold text-gray-900 pt-[80px] lg:pt-[120px] lg:pb-[20px] text-4xl text-neon">Create Account</h2>
      <form class="mt-8 space-y-6 md:mt-0 space-y-0" action="#" method="POST">
        <input type="hidden" name="remember" value="true">
        <div class="space-y-px rounded-md shadow-sm">
          <div class="mx-auto block w-[60%] md:w-[30%]">
              <input name="name" type="text" autocomplete="text" required class="relative block w-full py-2 px-5 my-3 sm:text-sm rounded-sm" placeholder="Full name">
            </div>
          <div class="mx-auto block w-[60%] md:w-[30%]">
            <input id="email-address" name="email" type="email" autocomplete="email" required class="relative block w-full py-2 px-5 my-3 sm:text-sm rounded-sm" placeholder="Email address">
          </div>
          <div class="mx-auto block w-[60%] md:w-[30%]">
              <input name="addresss" type="text" autocomplete="text" required class="relative block w-full py-2 px-5 my-3 sm:text-sm rounded-sm" placeholder="Address">
          </div>
          <div class="mx-auto block w-[60%] md:w-[30%]">
              <input id="phone" name="phone" type="text" autocomplete="text" required class="relative block w-full py-2 px-5 my-3 sm:text-sm rounded-sm" placeholder="06 456 789 21">
          </div>
          <div class="mx-auto block w-[60%] md:w-[30%]">
            <input id="password" name="password" type="password" autocomplete="current-password" required class="relative block w-full py-2 px-5 my-3 sm:text-sm rounded-sm mt-5" placeholder="Password">
          </div>
          <div class="mx-auto block w-[60%] md:w-[30%]">
              <input id="password" name="confirm_password" type="password" autocomplete="current-password" required class="relative block w-full py-2 px-5 my-3 sm:text-sm rounded-sm" placeholder="Confirm Password">
            </div>
        </div>
        <button class="mx-auto block border-2 py-2 px-5 rounded-sm border-white text-black text-[16px] font-normal bg-white">Register</button>
        </form>
  </div>
</form>

