<form [formGroup]="signupForm" (ngSubmit)="signUp()">
  <div class="bg-gradient-to-b from-deepForest-800 to-black">
      <h2 class=" text-center text-white font-bold text-gray-900 pt-[80px] lg:pt-[120px] lg:pb-[20px] text-4xl text-[#84cc16]">Create Account</h2>
        <input type="hidden" name="remember" value="true">
        <div class="space-y-px rounded-md shadow-sm">
          <div class="mx-auto block w-[60%] md:w-[30%]">
              <input formControlName="name" type="text" autocomplete="text" required class="relative block w-full py-2 px-5 my-3 sm:text-sm rounded-sm" placeholder="Full name">
            </div>
          <div class="mx-auto block w-[60%] md:w-[30%]">
            <input id="email-address" formControlName="email" type="email" autocomplete="email" required class="relative block w-full py-2 px-5 my-3 sm:text-sm rounded-sm" placeholder="Email address">
          </div>
          <div class="mx-auto block w-[60%] md:w-[30%]">
              <input formControlName="address" type="text" autocomplete="text" required class="relative block w-full py-2 px-5 my-3 sm:text-sm rounded-sm" placeholder="Address">
          </div>
          <div class="mx-auto block w-[60%] md:w-[30%]">
              <input id="phone" formControlName="phone" type="text" autocomplete="text" required class="relative block w-full py-2 px-5 my-3 sm:text-sm rounded-sm" placeholder="06 456 789 21">
          </div>
          <div class="mx-auto block w-[60%] md:w-[30%]">
            <input id="password" formControlName="password" type="password" autocomplete="current-password" required class="relative block w-full py-2 px-5 my-3 sm:text-sm rounded-sm mt-5" placeholder="Password">
          </div>
          <div class="mx-auto block w-[60%] md:w-[30%]">
              <input id="password" formControlName="confirm_password" type="password" autocomplete="current-password" required class="relative block w-full py-2 px-5 my-3 sm:text-sm rounded-sm" placeholder="Confirm Password">
            </div>
        </div>
        <button type="submit" class="mx-auto block border-2 py-2 px-5 rounded-sm border-white text-black text-[16px] font-normal bg-white">Register</button>
        <p class="text-center text-white font-bold text-gray-900 py-[20px] md:py-[40px]">
          <a routerLink="/signin" class="hover:underline">Already have an account?</a>
        </p>
  </div>
</form>

