<section class="bg-dark">
    <ul class="nav flex-column">
        <li class="nav-item p-4">
            <img src="../assets/images/Logo.png" alt="Logo" class="col-4">
        </li>
        <li class="nav-item border-top border-bottom p-4">
            <a routerLink="" class="text-white px-4 nav-item">DashBoard</a>
        </li>
        <li class="nav-item p-2">
            <a routerLink="/products" class="text-white px-4 nav-link">Products</a>
        </li>
        <li class="nav-item border-bottom p-2">
            <a routerLink="/users" class="text-white px-4 nav-link">Users</a>
        </li>
        <li class="nav-item p-2">
            <a routerLink="/categories" class="text-white px-4 nav-link">Categories</a>
        </li>
        <li class="nav-item p-2">
            <a routerLink="/brands" class="text-white px-4 nav-link">Brands</a>
        </li>
        <li class="nav-item p-2 border-top">
            <a routerLink="/brands" class="text-white px-4 nav-link">Login</a>
        </li>
      </ul>
</section>
 

  