<div class=" bg-gradient-to-b from-deepForest-800 to-black  ">

   <div class="flex flex-col-reverse ">
    <div class="w-2/6 flex justify-center items-center gap-8 my-14">
      <div class="flex items-center space-x-2">
        <label class="text-blue-500">Sort by brand:</label>
        <select class="border border-blue-500 rounded-md px-2">
          <option value="nike">Nike</option>
          <option value="adidas">Adidas</option>
          <option value="puma">Puma</option>
        </select>
      </div>
  
      <!-- Sort by Category: -->
      <div class="flex items-center space-x-2">
        <label class="text-blue-500">Sort by category:</label>
        <select class="border border-blue-500 rounded-md  px-2">
          <option value="men">Men</option>
          <option value="women">Women</option>
          <option value="kids">Kids</option>
        </select>
      </div>
    </div>

    <div class=" py-6 sm:px-6 lg:px-8 flex-1">
      <div class="flex justify-center items-center my-12">
        <div class="relative flex w-full lg:w-2/3">
          <input type="text" placeholder="Search..." class="w-full px-4 py-2 rounded-l-full rounded-r-none focus:outline-none focus:border-neon focus:border font-normal" >
          <button class="bg-neon text-white px-4 py-2 rounded-r-full focus:outline-none">
            <svg class="w-6 h-6 fill-current" viewBox="0 0 20 20">
              <path d="M14.707,13.707l-3.982-3.982C10.689,9.57,11,8.828,11,8c0-2.757-2.243-5-5-5S1,5.243,1,8s2.243,5,5,5c1.828,0,2.57-0.311,3.725-0.725l3.982,3.982c0.195,0.195,0.512,0.195,0.707,0l1.414-1.414C14.902,14.219,14.902,13.902,14.707,13.707z M6,10c-1.654,0-3-1.346-3-3s1.346-3,3-3s3,1.346,3,3S7.654,10,6,10z"></path>
            </svg>
          </button>
        </div>
      </div>
      </div>

  </div>
              <!-- random cards -->
<div class=" justify-center flex px-20 " >
  <div class="container mx-auto block my-8 text-center">
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6 text-white">
      <div *ngFor="let product of products">
        <div class="bg-transparent border-r border-r-gray shadow  overflow-hidden">
          <img src="{{product.image}}" alt="Product Image" class="max-h-[300px] mx-auto block">
    
          <div class="p-4">
            <h3 class="font-semibold text-xl mb-2">{{product.name}}</h3>
            <p class="text-gray-700 font-light mb-2">{{product.brand_id}}</p>
            <p class="text-neon font-bold text-[18px]">{{product.price}} ft</p>
          </div>
    
          <div class="p-4 border-t border-gray-300 flex justify-between items-center">
              <div>
                  <button class="bg-neon text-white font-semibold py-2 px-2 border border-neon rounded shadow mx-auto block md:mx-0" (click)="addToCart(product.id)">
                      Add to Cart
                    </button>
              </div>
              <div>
                  <p class="text-gray-700 font-normal mb-2 text-center">{{product.categorie_id}}</p>
              </div>
          </div>
        </div>
      </div>
      </div> 
  </div> 
</div>
  
  
  
</div>
