<div class="flex items-center mb-4">
    <label class="mr-2" for="category">Sort by Category:</label>
    <select class="border border-gray-300 rounded px-2 py-1" name="category" id="category">
      <option value="mouse">Mouse</option>
      <option value="keyboard">Keyboard</option>
      <option value="monitor">Monitor</option>
      <option value="headset">Headset</option>
    </select>
  </div>
  
  <div class="flex items-center mb-4">
    <label class="mr-2" for="brand">Sort by Brand:</label>
    <select class="border border-gray-300 rounded px-2 py-1" name="brand" id="brand">
      <option value="redragon">Redragon</option>
      <option value="hp">HP</option>
      <option value="logitech">Logitech</option>
      <option value="urage">Urage</option>
    </select>
  </div>
  
  