.glow {
    color: rgb(214, 82, 133);
    text-shadow:
    0 0 22px rgb(214, 82, 133),
    0 0 42px rgb(214, 82, 133),
    0 0 52px rgb(214, 82, 133),
    0 0 52px rgb(214, 82, 133),
    0 0 0 rgb(214, 82, 133);
  }
  .glow2 {
    color: #E33926;
    text-shadow:
    0 0 6px #E33926,
    0 0 6px #E33926,
    0 0 7px #E33926,
    0 0 40px #E33926,
    0 0 0 #E33926;
  }