<div class="bg-gradient-to-b from-deepForest-900 to-deepForest-800  h-[300px] px-20">
    <div class="flex justify-center items-center pt-[70px]">
        <div class="flex-1">
            <h1 class="text-center md:text-left text-4xl font-medium text-white">The Westimre Pc Headset</h1>
            <div class="mt-[40px]">
                <button class=" py-1 px-5 border-2 border-neon bg-neon rounded-full md:inline-block  text-white font-normal">Buy Now</button>
                <button class=" py-1 px-5 border-2 border-neon bg-neon rounded-full text-white font-light ml-4">Show All</button>
            </div>
        </div>
        <div>
            <img [src]="path" [alt]="alt">
            
        </div>
            
        
    </div>
</div>

<div class="bg-gradient-to-b from-deepForest-800 to-deepForest-900">
    <h1 class="text-center text-4xl font-medium text-white">Featured Proucts</h1>
    <div class="grid gap-2 grid-cols-4 m-20 text-center font-medium">
        <div class="bg-lightGray">
            <img [src]="path1" [alt]="alt1">
            <p>Series-x Controller</p>
            <p>$65.00</p>
        </div>
        <div class="bg-lightGray pt-20">
                <img [src]="path2" [alt]="alt2">
                <p class="mt-20">Hyper-x Headset</p>
                <p>$60.00</p>
        </div>
            <div class="bg-lightGray">
                <img [src]="path3" [alt]="alt3">
                <p>Logitech G-Pro</p>
                <p>$35.00</p>
        </div>
            <div class="bg-lightGray pt-20">
            <img [src]="path4" [alt]="alt4">
            <p class="mt-8">Logitech G502</p>
            <p>$45.00</p>
        </div>

    </div>
</div>
