<div class="bg-gradient-to-b from-deepForest-900 to-deepForest-800  h-[300px] px-20">
    <div class="flex justify-center items-center pt-[70px]">
        <div class="flex-1">
            <h1 class="text-center md:text-left text-4xl font-medium text-white">The Westimre Pc Headset</h1>
            <div class="mt-[41px]">
                <button class=" py-1 px-5 border-2 border-neon bg-neon rounded-full md:inline-block  text-white font-normal">Buy Now</button>
                <button class=" py-1 px-5 border-2 border-neon bg-neon rounded-full text-white font-light ml-4">Show All</button>
            </div>
        </div>
        <div class="flex-1">
            <img class="w-[30px]" src="../img/homeheadset.jpg" alt="Headset">
        </div>
    </div>
</div>

