<!-- westimre headset -->
<div class="bg-gradient-to-b from-deepForest-800 to-black  px-20 lg:px-[150px]">
    <h1 class="text-center pt-[100px] md:text-6xl text-5xl md:font-extralight text-white shadow-sm gomb">The Westimre Pc Headset</h1>
    <div class="flex flex-col-reverse md:flex justify-center items-center pt-[70px] md:flex-row">
        <div class="flex-1 ">
            <div class="mt-[50px] md:mt-[0]">
                <h1 class="md:text-left text-center text-3xl md:4xl lg:7xl font-semibold text-white md:mb-[90px] mb-4">Follow the <span class="glow2">Trend</span> , upgrade your  <span class="glow">Gear</span></h1>
                <p class="text-center md:text-left  text-white mb-8 lg:text-xl xl:text-2xl  md:mb-[100px]  ">Shop the latest peripherals for your computer and boost your productivity. From keyboards and mice to monitors and headsets, we've got everything you need to upgrade your setup.</p>
                <button class=" py-3 px-7 w-[200px] md:px-5 md:w-[140px]  xl:px-6 xl:w-[160px] border-2 border-neon glow2 rounded-full md:inline-block md:mx-0 mx-auto block  text-white font-medium mb-4 md:mb-0">Buy Now</button>
                <button class=" py-3 px-7 w-[200px] md:px-5 md:w-[140px] xl:px-6 xl:w-[160px] border-2 border-white gomb rounded-full md:inline-block md:mx-0 mx-auto block text-white font-normal md:ml-4">Show All</button>
            </div>
        </div>
        <div class="flex-1">
            <img class="w-[400px] lg:w-[600px] mx-auto block" src="{{path}}" alt="Headset">
        </div>
    </div>
</div>

<!-- service cards -->
<div class="grid md:grid-cols-4 grid-cols-2 bg-black text-white py-16 md:px-20 lg:px-[200px] text-left">
    <div class="borderGlow px-5 py-10">
    <div class="flex flex-row justify-center items-center">
        <div class="flex-1">
            <img src="../assets/delivery-truck.svg" alt="" class="glow2 mx-auto block w-[50px]">
        </div>
        <div class="flex-1">
            <p class="text-xl gomb">Free delivery</p>
            <p>from $50.00</p>
        </div>
    </div>
    </div>

    <div class="borderGlow px-5 py-10">
        <div class="flex flex-row justify-center items-center">
            <div class="flex-1">
                <img src="../assets/feedback.svg" alt="" class="glow2 mx-auto block w-[50px]">
            </div>
            <div class="flex-1">
                <p class="text-xl gomb">99% Positive</p>
                <p>FeedBacks</p>
            </div>
        </div>
    </div>

    <div class="borderGlow px-5 py-10">
        <div class="flex flex-row justify-center items-center">
            <div class="flex-1">
                <img src="../assets/truck-return.svg" alt="" class="glow2 mx-auto block w-[50px]">
            </div>
            <div class="flex-1">
                <p class="text-xl gomb">365 days</p>
                <p>for free return</p>
            </div>
        </div>
        </div>

        <div class="borderGlow px-5 py-10">
            <div class="flex flex-row justify-center items-center">
                <div class="flex-1">
                    <img src="../assets/account-payment-outline.svg" alt="" class="glow2 mx-auto block w-[50px]">
                </div>
                <div class="flex-1">
                    <p class="text-xl gomb">Payment</p>
                    <p>Secure Systen</p>
                </div>
            </div>
            </div>
</div>
<!-- cards end -->
    <div class="grid md:grid-cols-3 grid-cols-1 leading-10 text-white">
        <div class="bg-gradient-to-t from-deepForest-800 to-black pt-[60px] ">
        
            <h1 class="text-2xl font-semibold ml-5 text-center">Improve your visual experience with our selection of peripherals. </h1>
            <p class="font-normal ml-5 text-center">Invest now</p>
            <div class="relative">
                <img src={{path}} alt="" class="pt-20"> 
                <button class="font-medium ml-3 absolute md:top-[40px] top-5 border-2 py-1 px-5 rounded-full gomb">View More
                </button>
            </div>
        </div>

        <div class="bg-gradient-to-t from-deepForest-800 to-black pt-[60px]">
            <h1 class="text-2xl font-semibold ml-5 text-center">Upgrade your gaming setup with our wide selection of peripherals.</h1>
            <p class="font-normal ml-5 text-center">we've got everything you need</p>
            <div class="relative">
                <img src={{path1}} alt="" class="pt-10"> 
                <button class="font-medium ml-3 absolute md:top-[40px] top-5 left-2 border-2 py-1 px-5 rounded-full gomb">View More
                </button>
            </div>
        </div>

        <div class="bg-gradient-to-t from-deepForest-800 to-black pt-[60px]">
            <h1 class="text-2xl font-semibold ml-5 text-center">Looking for high-quality peripherals at affordable prices?</h1>
            <p class="font-normal ml-5 text-center">Enhance your entertainment</p>
            <div class="relative">
                <img src={{path4}} alt="" class="pt-20"> 
                <button class="font-medium ml-3 absolute md:top-[40px] md:left-[-25px] top-5 border-2 py-1 px-5 rounded-full gomb">View More
                </button>
            </div>
        </div>
    </div>
<!-- color cards -->

<!-- </div> -->

<!-- Most popular -->
<div class="bg-gradient-to-b from-deepForest-800 to-black">
    <span class="text-2xl font-medium  text-center pt-5 block md:hidden glow2">Most popular</span>
    <div class="flex flex-row text-white justify-center md:gap-4 sm:gap-3 py-5">
        <div class="w-1/4 text-center hidden md:block">
            <p class="text-2xl md:text-3xl lg:text-4xl font-light hidden md:block text-center glow2">Most popular</p>
        </div>
        <div class="flex-1 py-2 px-3 border-2 border-white rounded-full text-center">
            <p class="gomb">All</p>
        </div>
        <div class="flex-1 py-2 px-3 border-2 border-white rounded-full text-center">
            <p class="gomb">Logitech</p>
        </div>
        <div class="flex-1 py-2 px-3 border-2 border-white rounded-full text-center">
            <p class="gomb">Redragon</p>
        </div>
        <div class="flex-1 py-2  px-3 border-2 border-white rounded-full text-center">
            <p class="gomb">Urage</p>
        </div>
        <div class="hidden md:block md:flex-1">
        </div>

    </div>
<!-- grid -->
<div class="grid md:grid-cols-4 grid-cols-2 gap-4 md:mx-[50px] mx-[15px] lg:mx-[170px] xl:mx-[220px] pt-5 pb-[80px] font-medium ">
    <div class="">
        <div class="bg-gray rounded-t-sm">
            <img src={{path}} alt="">
            <p class="text-md font-semibold text-center pb-4">Theory Headset</p>
        </div>
        <div class="flex flex-row">
            <div class="md:w-4/6">
                <button class="text-white p-2 bg-black">Add to cart</button>
            </div>
            <div class="flex-1">
                <p class="text-white bg-neon p-2 text-center">$60.00</p>
            </div>
        </div> 
    </div> 

    <div>
        <div class="bg-gray rounded-t-sm">
            <img src={{path1}} alt="">
            <p class="text-md font-semibold text-center pb-4">Theory Headset</p>
        </div>
        <div class="flex flex-row">
            <div class="w-4/6">
                <button class="text-white p-2 bg-black">Add to cart</button>
            </div>
            <div class="flex-1">
                <p class="text-white bg-neon p-2 text-center">$60.00</p>
            </div>
        </div> 
    </div>

    <div>
        <div class="bg-gray rounded-t-sm">
            <img src={{path}} alt="">
            <p class="text-md font-semibold text-center pb-4">Theory Headset</p>
        </div>
        <div class="flex flex-row">
            <div class="w-4/6">
                <button class="text-white p-2 bg-black">Add to cart</button>
            </div>
            <div class="flex-1">
                <p class="text-white bg-neon p-2 text-center">$60.00</p>
            </div>
        </div> 
    </div>  

    <div>
        <div class="bg-gray rounded-t-sm">
            <img src={{path3}} alt="">
            <p class="text-md font-semibold text-center pb-4">Theory Headset</p>
        </div>
        <div class="flex flex-row">
            <div class="w-4/6">
                <button class="text-white p-2 bg-black">Add to cart</button>
            </div>
            <div class="flex-1">
                <p class="text-white bg-neon p-2 text-center">$60.00</p>
            </div>
        </div> 
    </div>  

</div>
</div>

<!-- Subscribe -->
<div class="bg-gradient-to-t from-neon to-black md:h-[200px] pb-5 px-[10px]">
    <p class="block md:hidden text-2xl font-medium text-center pt-4 text-white">Newsletter Subscribe</p>
    <div class="flex flex-row justify-center items-center">
        <div class="hidden md:block flex-1"></div>
        <div class="">
            <p class="hidden md:block text-3xl font-semibold md:mt-[35%] text-white p-4">Newsletter Subscribe</p>
        </div>
        <div class="p-2">
            <input type="text" class="py-2 px-5 rounded-l-full md:mt-[40%] mt-5 w-[65%] ml-[4%]" placeholder="example@gmail.com">
            <button class="bg-black border-2 border-black py-2 px-3 text-white text-center rounded-r-full">Submit</button>
        </div>
        <div class="hidden md:block flex-1"></div>
    </div>
</div>



